* {
    border: none;
    border-radius: 0;
    font-family: "Terminess Nerd Font";
    font-size: 16px;
    min-height: 0;
    opacity: 0.9;
}


window#waybar {
    background: transparent; 
    color: #c0caf5;     
    opacity: 1.0;
}


#window {
    font-weight: bold;
    font-family: "Terminess Nerd Font";
    color: #9aa5ce;
}



#clock,
#battery,
#cpu,
#memory,
#network,
#tray,
#mode,
#bluetooth
 {
    padding: 1px 6px;
    margin: 2px 2px;
}

#workspaces button {
    padding: 0px 4px; 
    background: transparent;
    color: #9aa5ce;
    border-top: 2px solid transparent;
}

#workspaces button.urgent {
    color: #f7768e;    border-top: 2px solid #f7768e;
}



#clock {
    color: #7dcfff; /* cyan */
}

#battery {
    color: #9ece6a; /* green */
}

#battery.charging {
    color: #73daca;
}

#battery.warning:not(.charging) {
    color: #f7768e;
    animation: blink 1s linear infinite alternate;
}

#battery icon {
    color: inherit;
}

@keyframes blink {
    to {
        background-color: #f7768e;
        color: #1f2335;
    }
}

#cpu {
    color: #e0af68; 
  }

#memory {
    color: #bb9af7; 
  }


#network {
    color: #7aa2f7;
}

#network.disconnected {
    background: #f7768e;
    color: #1f2335;
}

#mpris {
    color: #7dcfff;
    
}

#pulseaudio {
    color: #9ece6a;   
}

#pulseaudio.muted {
    color: #565f89;
}

#bluetooth {
    color: #7dcfff;
   }

#tray {
    color: #c0caf5;
}

#language {
  color: #cc6a84;
  margin: 2px 2px;
  padding: 1px 6px;
}
#workspaces {
  margin: 10px 0 0 10px;
  padding: 0 7 0 7px;
  background-color: #24283b;;
  border-radius: 10;
  border: 1px solid #7aa2f7;

}
#audio {
  margin: 10px 0 0 10px;
  padding: 0 0 0 7px;
  background-color: #24283b;;
  border-radius: 10;
  border: 1px solid #7aa2f7;
}

.modules-center {
  margin: 10px 0 0 0;
  padding: 0 10px 0 10px;
  background-color: #24283b;
  border-radius: 10;
  border: 1px solid #7aa2f7;
}

.modules-right {
  margin: 10px 10px 0 0;
  padding: 0 10px 0 10px;
  background-color: #24283b;
  border-radius: 10;
  border: 1px solid #7aa2f7;
}

