
@define-color bg #24283b;
@define-color bd #7aa2f7;

* {
    border: none;
    border-radius: 0;
    font-family: "Terminess Nerd Font";
    font-size: 15px;
    min-height: 0;
    opacity: 1.0;
}


window#waybar {
    background: transparent; 
    color: #c0caf5;     
    opacity: 1.0;
}


#window {
    font-weight: bold;
    font-family: "Terminess Nerd Font";
    color: #9aa5ce;
}


#workspaces button {
    padding: 0 2px;
    background: transparent;
    color: #9aa5ce;
    border-top: 2px solid transparent;
}


#workspaces button.urgent {
    color: #f7768e;    border-top: 2px solid #f7768e;
}


#mode {
    background: #f7768e;
    color: #1f2335;
    border-bottom: 3px solid #c0caf5;
}

#battery,
#mpris,
#pulseaudio,
#workspaces,
#cpu,
#memory,
#network,
#tray,
#bluetooth {
    padding: 1px 6px;
    margin: 1px 4px;
}


#clock {
    color: #7dcfff; /* cyan */
}


#battery {
    color: #9ece6a; /* green */
}

#battery.charging {
    color: #73daca;
}

#battery.warning:not(.charging) {
    color: #f7768e;
    animation: blink 1s linear infinite alternate;
}

#battery icon {
    color: inherit;
}

@keyframes blink {
    to {
        background-color: #f7768e;
        color: #1f2335;
    }
}

#cpu {
    color: #e0af68; 
  }

#memory {
    color: #bb9af7; 
  }


#network {
    color: @bd;
}

#network.disconnected {
    background: #f7768e;
    color: #1f2335;
    border-radius: 10;
    margin: 2px 2px 2px 2px;
}


#pulseaudio {
    color: #9ece6a;
}

#pulseaudio.muted {
    color: #565f89;
}


#bluetooth {
    color: #7dcfff;
}

#language {
  color: #e89ba9;
  margin-left: 6px;
}
#tray {
    color: #c0caf5;
}

#workspaces {
  margin: 10px 0px 0 10px;
  padding: 0 6px 0 6px;
  background-color: @bg;
  border-radius: 10;
  border: 1px solid @bd;

}

#pulseaudio {
  margin: 10px 0px 0 10px;
  padding: 0 10px 0 10px;
  background-color: @bg;
  border-radius: 10;
  border: 1px solid @bd;
}


#mpris {
  margin: 10px 0 0 10px;
  padding: 0 10px 0 10px;
  background-color: @bg;
  border-radius: 10;
  border: 1px solid @bd;
}

.modules-center {
  margin: 10px 0 0 0;
  padding: 0 10px 0 10px;
  background-color: @bg;
  border-radius: 10;
  border: 1px solid @bd;
}

#netblue {
  margin: 10px 0 0 10px;
  padding: 0 6px 0 6px;
  background-color: @bg;
  border-radius: 10;
  border: 1px solid @bd;
}

#cpuram {
  margin: 10px 0 0 10px;
  padding: 0 6px 0 1px;
  background-color: @bg;
  border-radius: 10;
  border: 1px solid @bd;
}

#langbatray {
  margin: 10px 10 0 10px;
  padding: 0 1px 0 6px;
  background-color: @bg;
  border-radius: 10;
  border: 1px solid @bd;
}
