
input {
    keyboard {
        xkb {
          layout "de"
                  }
        numlock
    }
      touchpad {
              tap
        natural-scroll
        }
    mouse {
    }

    trackpoint {
      }
    }


include "/home/kevin/.config/niri/autostart.kdl"
include "/home/kevin/.config/niri/binds.kdl"
include "/home/kevin/.config/niri/output.kdl"
include "/home/kevin/.config/niri/layout.kdl"
include "/home/kevin/.config/niri/window-rules.kdl"

hotkey-overlay {
}

prefer-no-csd

screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"


cursor {
  xcursor-theme "volantes_light_cursors"
}


gestures {
	hot-corners {
	off
	top-left
	}
}
