layout {
	gaps 16
	center-focused-column "never"

	// You can customize the widths that "switch-preset-column-width" (Mod+R) toggles between.
	preset-column-widths {
		proportion 0.33333
		proportion 0.5
		proportion 0.66667
		proportion 1.0
	}
	preset-window-heights {
		proportion 0.33333
		proportion 0.5
		proportion 0.66667
		proportion 1.0
	}


	default-column-width { proportion 0.5; }
	struts {
		left 16
		right 16
		top 16
		bottom 16
	}
}
      

        

