@import "/usr/share/rofi/themes/tokyonight_big2.rasi"

window {
  padding: 20px;
  padding-top: 40px;
  padding-bottom: 40px;

  border-radius: 40px 0px 80px 0px;
}

mainbox {
  children: [listview];
}


listview, {
  border: 0px;
  margin: 5px;
  scrollbar: false;
  lines:   1;
  columns: 5;
}

element {
  children: [element-text];
  orientation: vertical;
  border-radius: 20px 0px 40px 0px;
}

element-text {
  padding: 20px 20px 20px 40px;
  font: "Terminess Nerd Font 100";
  vertical-align: 0.5;
  horizontal-align: 0.5;
}
